html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.live-cell {
	width: 50px;
	height: 50px;
	background-color: darkgrey;
	border: 1px solid black;
}

.dead-cell {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

button {
	font-size: 20px;
}
